.ad {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer; /* Añadir esta línea para cambiar el cursor */
  transition: background-color 0.3s ease;
}

.ad:hover {
  background-color: #f5f5f5;
}

  